@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x7bt7v');
  src:  url('fonts/icomoon.eot?x7bt7v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x7bt7v') format('truetype'),
    url('fonts/icomoon.woff?x7bt7v') format('woff'),
    url('fonts/icomoon.svg?x7bt7v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai:before {
  content: "\e900";
}
.icon-alert-triangle:before {
  content: "\e901";
}
.icon-apple:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-check-fill .path1:before {
  content: "\e904";
  color: rgb(115, 127, 255);
}
.icon-check-fill .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-circle-arrow-right:before {
  content: "\e906";
}
.icon-circle-check:before {
  content: "\e907";
}
.icon-coins:before {
  content: "\e908";
}
.icon-credit-card:before {
  content: "\e909";
}
.icon-cross:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-google .path1:before {
  content: "\e90c";
  color: rgb(255, 193, 7);
}
.icon-google .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-google .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-google .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-instagram:before {
  content: "\e910";
}
.icon-linkdian:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-minus:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-player-play:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-quote:before {
  content: "\e918";
}
.icon-shield-checkered:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91a";
}
.icon-upload:before {
  content: "\e91b";
}
