@import "tailwindcss";

:root {
  /* Override Bootstrap Variables */
  --bs-primary: #737FFF;
  --bs-secondary: #66698A;
  --bs-dark: #23253C;
  --bs-light: #F1F2FF;
  --bs-danger: #936A6A;
  --bs-info: #40436D;

  --bs-body-bg: #fff;
  --bs-body-color: #23253C;

  --primaryColor: #737FFF;
  --secondaryColor: #66698A;
  --darkColor: #23253C;
  --lightColor: #F1F2FF;
  --dangerColor: #936A6A;
  --infoColor: #40436D;
  --bodyBg: #F9F4F0;
  --bodyColor: #23253C;
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

@theme inline {
  --color-background: var(--bodyBg);
  --color-foreground: var(--bodyColor);
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-instrument-serif);
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: var(--whiteColor);
  scroll-behavior: smooth;
  font-family: var(--font-manrope), var(--font-instrument-serif), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondaryColor);
}

.container {
  --bs-gutter-x: 24px;
  max-width: 1344px;
  padding-inline: 24px;
}

.bg-gradient-brand {
  background: linear-gradient(90deg, #737FFF 0%, #525AB5 100%);
  border: none;
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-instrument-serif), Georgia, serif;
  font-weight: 400;
}

h1 {
  font-size: 80px;
  line-height: 88px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

.btn {
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 9px;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 20px;
  --bs-btn-border-radius: 16px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  letter-spacing: 0;
}

.btn.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px #00000020;
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
}

@property --grad-angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: false;
}

.btn-primary {
  background: linear-gradient(var(--grad-angle), #737FFF 0%, #525AB5 100%);
  border: none;
  color: #fff;
  overflow: hidden;
  transition: --grad-angle 0.3s ease;
}

.btn-primary:hover {
  --grad-angle: 0deg;
}

.btn.btn-h48 {
  font-size: 16px;
  line-height: 1.5;
  min-height: 48px;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(25px);
}

.title-div {
  text-align: center;
  position: relative;
}

.title-div h2 {
  color: var(--darkColor);
  margin: 0 0 16px;
}

.title-div p {
  margin: 0;
  font-weight: 500;
}

.dot-title {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--primaryColor);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.dot-title .dot {
  width: 8px;
  height: 8px;
  background: var(--primaryColor);
  border-radius: 100%;
}

.title-left-div {
  text-align: left;
}

.title-left-div .dot-title {
  --primaryColor: #936A6A;
}

.title-left-div h2 {
  color: #936A6A;
}

.title-center-div2 .dot-title {
  --primaryColor: #F7CEB4;
}

.title-center-div2 h2 {
  color: #F7CEB4;
}

.title-center-div2 h2 i {
  margin-left: 6px;
  background: linear-gradient(44.51deg, #A1A9FF 40.67%, #6974E8 94.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-red {
  color: #FF6262;
}

.faq-root h2.accordion-header {
  line-height: 1;
}

.faq-root button.accordion-button {
  padding: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-manrope);
  background: var(--lightColor);
  box-shadow: none;
  transition: all 0.3s ease !important;
  padding-bottom: 18px;
}

.faq-root button.accordion-button.collapsed {
  padding-bottom: 24px;
  background: var(--whiteColor);
}

.faq-root .accordion-collapse {
  background: var(--whiteColor);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-root .accordion-collapse.collapsing,
.faq-root .accordion-collapse.collapse.show {
  background: var(--lightColor);
}

.faq-root .accordion-body {
  padding: 0 24px 24px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondaryColor);
  font-weight: 500;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease 0.1s;
}

.faq-root .accordion-collapse.show .accordion-body {
  opacity: 1;
  transform: translateY(0);
}

.faq-root .accordion-button:after {
  content: "\e914";
  background: var(--darkColor);
  color: var(--whiteColor);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  font-family: 'icomoon' !important;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.faq-root button.accordion-button.collapsed:after {
  content: "\e917";
  color: var(--darkColor);
  background: #ECECF0;
  transform: rotate(0deg);
}

.faq-root button.accordion-button:not(.collapsed):after {
  transform: rotate(180deg);
}

.form-control {
  color: var(--darkColor);
  padding: 8px 16px;
  border: 1px solid #ECECF0;
  border-radius: 16px;
  min-height: 48px;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primaryColor);
}

.form-control::-webkit-input-placeholder {
  color: #A7A9BC;
}

.form-control::-moz-placeholder {
  color: #A7A9BC;
}

.form-control:-ms-input-placeholder {
  color: #A7A9BC;
}

.form-control:-moz-placeholder {
  color: #A7A9BC;
}

@media (max-width:1200px) {
  h1 {
    font-size: 56px;
    line-height: 1.2;
  }

  h2 {
    font-size: 36px;
    line-height: 1.2;
  }

  h3 {
    font-size: 26px;
    line-height: 1.2;
  }

  h4 {
    font-size: 22px;
    line-height: 1.3;
  }

  h5 {
    font-size: 18px;
    line-height: 1.3;
  }

  h6 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width:992px) {
  .container {
    padding-inline: 16px;
  }

  h1 {
    font-size: 52px;
    line-height: 1.2;
  }

  h2 {
    font-size: 34px;
    line-height: 1.2;
  }

  h3 {
    font-size: 24px;
    line-height: 1.2;
  }

  h4 {
    font-size: 20px;
    line-height: 1.3;
  }
}

@media (max-width:767px) {
  h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  h2 {
    font-size: 26px;
    line-height: 1.2;
  }

  h3 {
    font-size: 22px;
    line-height: 1.2;
  }

  .btn.btn-h48 {
    font-size: 14px;
    line-height: 1.5;
    min-height: 40px;
    padding-inline: 16px;
    border-radius: 12px;
  }

  .faq-root button.accordion-button {
    font-size: 14px;
    padding: 16px;
    padding-bottom: 8px;
  }

  .faq-root button.accordion-button.collapsed {
    padding-bottom: 16px;
  }

  .faq-root .accordion-body {
    padding: 0 16px 16px;
    font-size: 14px;
    line-height: 20px;
  }

  .faq-root .accordion-button:after {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .form-control {
    min-height: 40px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 12px;
  }
}