.faq-section {
    padding: 80px 0;
    overflow: hidden;
    position: relative;

    @media (max-width:1200px) {
        padding: 60px 0;
    }

    @media (max-width:767px) {
        padding: 50px 0 34px;
    }
}

.faq-inner {
    position: relative;
    z-index: 1;
}

.faq-root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 32px 0 0;

    @media (max-width: 991px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    @media (max-width: 991px) {
        gap: 16px;
        padding-top: 16px;
    }
}

.faq-left-root,
.faq-right-root {
    .accordion {
        border: none;
        background: transparent;
    }
}

.faq-item {
    background: #fff;
    border: 1px solid #ECECF0 !important;
    border-radius: 16px !important;
    margin-bottom: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: none;
}