.features-section {
    padding: 80px 0;
    overflow: hidden;
    background-color: #F2E6DE;
    position: relative;

    @media (max-width:1200px) {
        padding: 60px 0;
    }

    @media (max-width:767px) {
        padding: 50px 0;
    }
}

.features-inner {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 24px;

    @media (max-width:1200px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width:767px) {
        grid-template-columns: 1fr;
    }
}

.feature-left-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    height: 100%;
}

.feature-image {
    max-width: 598px;
    width: 100%;

    .features-img {
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    @media (max-width:1200px) {
        max-width: 400px;
    }
}

.feature-right-item {
    display: grid;
    gap: 48px;

    @media (max-width:1200px) {
        gap: 24px;
    }
}

.feature-card {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 88px calc(100% - 112px);
    gap: 24px;

    @media (max-width:1200px) {
        gap: 16px;
        grid-template-columns: 64px calc(100% - 80px);
    }

    @media (max-width:992px) {
        grid-template-columns: 48px calc(100% - 64px);
    }

    .feature-icon-card {
        width: 88px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--whiteColor);
        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.12));
        border-radius: 16px;

        .icon-img {
            object-fit: contain;

            @media (max-width:1200px) {
                width: 40px;
                height: 40px;
            }

            @media (max-width:992px) {
                width: 32px;
                height: 32px;
            }
        }

        @media (max-width:1200px) {
            width: 64px;
            height: 64px;
        }

        @media (max-width:992px) {
            width: 48px;
            height: 48px;
            border-radius: 12px;
        }
    }

    .feature-content-card {
        h5 {
            font-family: var(--font-manrope);
            font-weight: 700;
            color: var(--darkColor);
            margin: 0 0 8px;
        }

        p {
            margin: 0;
            font-weight: 500;
        }
    }
}