.testimonials-section {
    padding: 80px 0 0;
    overflow: hidden;
    position: relative;

    @media (max-width:1200px) {
        padding: 60px 0 0;
    }

    @media (max-width:992px) {
        padding: 50px 0 0;

        > div {
            padding-inline: 4px;
        }
    }
}

.testimonials-inner {
    position: relative;
}

.testimonials-slider {
    position: relative;
    padding: 32px 12px 20px;
    overflow: visible;
}

.testimonials-card {
    padding: 24px;
    background: var(--whiteColor);
    border: 1px solid #ECECF0;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    height: 100% !important;
    overflow: hidden;
    display: grid;

    .testimonials-content {
        display: grid;
        gap: 16px;
        margin-bottom: 24px;
        
        i {
            color: #F2E6DE;
            font-size: 64px;
            line-height: 1;

            @media (max-width:1200px) {
                font-size: 48px;
            }
        }

        h4 {
            color: var(--darkColor);
            margin: 0;
        }
    }

    .testimonials-bottom {
        display: grid;
        align-items: center;
        align-content: center;
        grid-template-columns: 56px 1fr;
        gap: 8px;
        padding-top: 16px;
        margin-top: auto;
        border-top: 1px dashed #ECECF0;

        @media (max-width:1200px) {
            grid-template-columns: 48px 1fr;
        }

        .client-img {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;

            @media (max-width:1200px) {
                width: 48px;
                height: 48px;
            }
        }

        .client-info {
            display: grid;
            gap: 4px;
            
            h5 {
                font-family: var(--font-manrope);
                font-weight: 500;
                color: var(--darkColor);
                margin: 0;

                @media (max-width:1200px) {
                    font-size: 16px;
                    line-height: 1;
                }
            }

            p {
                font-weight: 500;
                margin: 0;
            }
        }
    }
}

.tst-slide {
    height: auto !important;
}