.the-science-section {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
    color: var(--whiteColor);
    background-color: var(--infoColor);

    @media (max-width:1200px) {
        padding: 60px 0;
    }

    @media (max-width:767px) {
        padding: 50px 0;
    }
}

.the-science-inner {
    position: relative;
    display: grid;
    gap: 40px;

    @media (max-width:1200px) {
        gap: 24px;
    }

    @media (max-width:767px) {
        gap: 16px;
    }
}

.the-science-root {
    color: #66698A;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width:1200px) {
        gap: 20px;
    }

    @media (max-width:767px) {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    >div:nth-child(1) {
        grid-row: 1 / 3;

        @media (max-width:767px) {
            grid-row: none;
        }
    }

    >div:nth-child(4) {
        grid-column: 2 / 4;

        @media (max-width:767px) {
            grid-column: none;
        }
    }
}

.the-science-card {
    position: relative;
    background-color: #F1F2FF;
    border-radius: 16px;
    overflow: hidden;
    --textColor: #66698A;

    .image-div {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
        }
    }

    .content-div {
        padding: 16px;
        display: grid;
        gap: 8px;

        h5 {
            font-family: var(--font-manrope);
            margin: 0;
            font-weight: 700;
            color: var(--textColor);

            @media (max-width:992px) {
                font-size: 16px;
            }
        }

        p {
            margin: 0;
            font-weight: 500;
            color: var(--textColor);
        }
    }

    &.card1 {
        --textColor: #3D2C2C;
        background-color: #CF9595;

        .image-div {
            height: 528px;

            @media (max-width:1200px) {
                height: 400px;
            }

            @media (max-width:992px) {
                height: 300px;
            }

            @media (max-width:767px) {
                height: 400px;
            }
        }
    }

    &.card2 {
        --textColor: #3D332D;
        background-color: #F7CEB4;

        .image-div {
            height: 186px;

            @media (max-width:992px) {
                height: 150px;
            }
        }
    }

    &.card3 {
        --textColor: #3D3A38;
        background-color: #F2E6DE;

        .image-div {
            height: 186px;

            @media (max-width:992px) {
                height: 150px;
            }
        }
    }

    @media (max-width:767px) {
        width: 100%;
    }

    &:hover {
        .image-div {
            img {
                transform: scale(1.05);
            }
        }
    }
}

.analysis-card {
    padding: 32px;

    @media (max-width:1200px) {
        padding: 24px;
    }

    @media (max-width:992px) {
        padding: 20px;
    }

    h3 {
        color: var(--darkColor);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 6px;

        @media (max-width:767px) {
            margin-bottom: 16px;
        }

        i {
            background: linear-gradient(44.51deg, #737FFF 40.67%, #30356B 94.46%);
            -webkit-text-fill-color: transparent;
            color: #0000;
            -webkit-background-clip: text;
            background-clip: text;
            margin-right: 2px;
        }
    }
}


.analysis-inner-card {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 300px;
    gap: 24px;

    @media (max-width:1200px) {
        grid-template-columns: 1fr 270px;
        gap: 12px;
    }

    @media (max-width:992px) {
        grid-template-columns: 1fr 220px;
    }

    @media (max-width:767px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .analysis-inner-left {
        position: relative;
    }

    .analysis-inner-right {
        position: relative;
        display: grid;
        gap: 16px;
    }

    ul {
        padding: 0;
        margin: 0;
        display: grid;
        gap: 24px;

        li {
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 8px;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 500;

            .analysis-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                line-height: 1;
                flex-wrap: wrap;

                @media (max-width:1200px) {
                    font-size: 20px;
                }
            }

            @media (max-width:1200px) {
                grid-template-columns: 20px 1fr;
                font-size: 14px;
            }
        }

        @media (max-width:1200px) {
            gap: 12px;
        }
    }
}

.analysis-white-card {
    position: relative;
    padding: 12px;
    background-color: var(--whiteColor);
    border-radius: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 64px;
    gap: 12px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;

    @media (max-width:1200px) {
        grid-template-columns: 1fr 56px;
    }

    @media (max-width:992px) {
        grid-template-columns: 1fr 48px;
    }

    .analysis-white-left {
        display: grid;
        gap: 8px;
    }

    .analysis-white-right {
        .analysis-image {
            width: 64px;
            height: 64px;
            object-fit: contain;

            @media (max-width:1200px) {
                width: 56px;
                height: 56px;
            }

            @media (max-width:992px) {
                width: 48px;
                height: 48px;
            }
        }
    }

    h4 {
        font-size: 28px;
        line-height: 1;
        font-weight: 700;
        color: var(--primaryColor);
        font-family: var(--font-manrope);
        margin: 0;

        small {
            font-size: 18px;
            font-weight: 500;

            @media (max-width:1200px) {
                font-size: 14px;
            }
        }

        @media (max-width:1200px) {
            font-size: 22px;
        }
    }

    p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        margin: 0;
    }
}